*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(239, 233, 255);
}
header{
    width: 200px;
    position: absolute;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
    border-radius: 50px;
}
header h1{
    font-size: 35px;
}
nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(255, 0, 0);
}

nav a{
    color: rgb(0, 0, 0);
}
nav a:hover{
    color: rgb(92, 87, 92);
}
.regpage{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(239, 233, 255);
}

.wrapreg{
    position: relative;
    max-width: 430px;
    width: 100%;
    padding: 34px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapreg p{
    position: relative;
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.wrapreg h2{
    position: relative;
    font-size: 25px;
    font-weight: 800;
    color: rgb(0, 0, 0);    
}
.wrapreg h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: red;
}
.wrapreg form{
    margin-top: 30px;
}

.wrapreg form .input-box{
    height: 32px;
    margin: 18px 0;
}
.wrapreg .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 600;
    color: rgb(65, 57, 57);
    border: 1.5px solid rgb(119, 119, 119);
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
    border-color: rgb(122, 122, 255);
}
form h3{
    color: rgb(34, 34, 34);
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}
.input-box.button input{
    color: white;
    letter-spacing: 1px;
    border: none;
    background: rgb(160, 160, 255);
    cursor: pointer;
}
.input-box.button input:hover{
    background: blue;
}
form .text h3{
    color: rgb(34, 34, 34);
    width: 100%;
    text-align: center;
}
form .text h3 a{
    color: rgb(160, 160, 255) ;
    text-decoration: none;
}
form .text h3 a:hover{
    text-decoration: underline;
}
.okay h1{
    text-align: center;
}
.okay h1 a{
    text-align: center;
    text-decoration: none;
    color: rgb(162, 0, 255);
}
.admin h1{
    text-align: center;
}
.admin h2{
    text-align: center;
}



.content {
    width: 500px;
    border: 1px solid white;
    font-family: "Times", serif;
    }
  .title{
    width: 500px;
    height: 50px;
    background: DimGrey;
    text-align:center;
    color: white;
    padding: 8px 20px 20px;
  }
  .bottom{
    width: 500px;
    height: 40px;
    background: DimGrey;
    padding: 15px 20px 10px;
  }
  .fio::after,.email::after,.goods::after,.date::after, .number::after{
    content:"*";
    color:red;
  }
  .bottom1,.bottom2{
     background: SteelGray;
     font-size: 10pt;
     border-radius: 5px;
     border: 1px solid SteelGray;
     padding: 10px 10px;
     width: 100px;
    font-weight:bold;
     }
  .guest {
    width: 380px;
    height: 30px;
    border: 1px solid LightGrey;
  }